@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff8de;
  }
  to {
    text-shadow: 0 0 15px #fff8de;
  }
}

@keyframes border-glow {
  from {
    box-shadow: 0 0 5px #fff8de;
  }
  to {
    box-shadow: 0 0 15px #fff8de;
  }
}

.film-grain-wrapper {
  position: relative;
  overflow: hidden;
}

.film-grain-wrapper::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.15) 1px,
    transparent 1.5px
  );
  background-size: 3px 3px;
  mix-blend-mode: screen;
  opacity: 0.45;
  animation: grainMove 8s linear infinite;
  z-index: 10;
  -webkit-animation: grainMove 8s linear infinite;
}

@keyframes grainMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
